In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
from enum import Enum
import matplotlib.pyplot as plt

Ordinal -> Label encoding 
Nominal -> One-hot encoding

In [2]:
df = pd.read_csv('processed/CEHHbInToW_feature_binning.csv')
df

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,credit Score Bins
0,France,Female,42.000000,2,0.00,1,1,1,101348.88,1,Fair
1,Spain,Female,41.000000,1,83807.86,1,0,1,112542.58,0,Fair
2,France,Female,42.000000,8,159660.80,3,1,0,113931.57,1,Poor
3,France,Female,38.912128,1,0.00,2,0,0,93826.63,0,Good
4,Spain,Female,43.000000,2,125510.82,1,1,1,79084.10,0,Excellent
...,...,...,...,...,...,...,...,...,...,...,...
9995,France,Male,39.000000,5,0.00,2,1,0,96270.64,0,Very Good
9996,France,Male,35.000000,10,57369.61,1,1,1,101699.77,0,Poor
9997,France,Female,36.000000,7,0.00,1,0,1,42085.58,1,Good
9998,Germany,Male,42.000000,3,75075.31,2,1,0,92888.52,1,Very Good
9999,France,Female,28.000000,4,130142.79,1,1,0,38190.78,0,Very Good

1. Encode ordinal variables

In [3]:
encode_dict_creditScore = {
    'Poor' : 0,
    'Fair' : 1,
    'Good' : 2,
    'Very Good' : 3,
    'Excellent' : 4
}

df['credit Score Bins'] = df['credit Score Bins'].map(encode_dict_creditScore)
df

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,credit Score Bins
0,France,Female,42.000000,2,0.00,1,1,1,101348.88,1,1
1,Spain,Female,41.000000,1,83807.86,1,0,1,112542.58,0,1
2,France,Female,42.000000,8,159660.80,3,1,0,113931.57,1,0
3,France,Female,38.912128,1,0.00,2,0,0,93826.63,0,2
4,Spain,Female,43.000000,2,125510.82,1,1,1,79084.10,0,4
...,...,...,...,...,...,...,...,...,...,...,...
9995,France,Male,39.000000,5,0.00,2,1,0,96270.64,0,3
9996,France,Male,35.000000,10,57369.61,1,1,1,101699.77,0,0
9997,France,Female,36.000000,7,0.00,1,0,1,42085.58,1,2
9998,Germany,Male,42.000000,3,75075.31,2,1,0,92888.52,1,3
9999,France,Female,28.000000,4,130142.79,1,1,0,38190.78,0,3

2. Encode Nominal variables

In [4]:
Nominal = ['Geography', 'Gender']

In [5]:
geography_dummies = pd.get_dummies(df['Geography'], prefix="Geography")
df_encoded = pd.concat([df,geography_dummies], axis=1)
del df_encoded['Geography']

gender_dummies = pd.get_dummies(df['Gender'], prefix="Gender")
df_encoded = pd.concat([df_encoded,gender_dummies], axis=1)
del df_encoded['Gender']

df_encoded

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,credit Score Bins,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,42.000000,2,0.00,1,1,1,101348.88,1,1,True,False,False,True,False
1,41.000000,1,83807.86,1,0,1,112542.58,0,1,False,False,True,True,False
2,42.000000,8,159660.80,3,1,0,113931.57,1,0,True,False,False,True,False
3,38.912128,1,0.00,2,0,0,93826.63,0,2,True,False,False,True,False
4,43.000000,2,125510.82,1,1,1,79084.10,0,4,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,39.000000,5,0.00,2,1,0,96270.64,0,3,True,False,False,False,True
9996,35.000000,10,57369.61,1,1,1,101699.77,0,0,True,False,False,False,True
9997,36.000000,7,0.00,1,0,1,42085.58,1,2,True,False,False,True,False
9998,42.000000,3,75075.31,2,1,0,92888.52,1,3,False,True,False,False,True
9999,28.000000,4,130142.79,1,1,0,38190.78,0,3,True,False,False,True,False

In [6]:
df_encoded.to_csv('processed/CEHHbInToW_feature_encoding.csv', index=False)