In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('processed\CEHHbInToW_final.csv')
df

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,credit Score Bins,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,0.302971,-1.041760,-1.225848,1,1,1,0.021886,1,1.0,True,False,False,True,False
1,0.204855,-1.387538,0.117350,1,0,1,0.216534,0,1.0,False,False,True,True,False
2,0.302971,1.032908,1.333053,3,1,0,0.240687,1,0.0,True,False,False,True,False
3,0.000000,-1.387538,-1.225848,2,0,0,-0.108918,0,2.0,True,False,False,True,False
4,0.401087,-1.041760,0.785728,1,1,1,-0.365276,0,4.0,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.008622,-0.004426,-1.225848,2,1,0,-0.066419,0,3.0,True,False,False,False,True
9996,-0.383844,1.724464,-0.306379,1,1,1,0.027988,0,0.0,True,False,False,False,True
9997,-0.285728,0.687130,-1.225848,1,0,1,-1.008643,1,2.0,True,False,False,True,False
9998,0.302971,-0.695982,-0.022608,2,1,0,-0.125231,1,3.0,False,True,False,False,True
9999,-1.070659,-0.350204,0.859965,1,1,0,-1.076370,0,3.0,True,False,False,True,False

In [3]:
x = df.drop(columns=['Exited'])
y = df['Exited']